.labeller-info {
  font-size: 20px;
  margin: 10px;
}

.object-data {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 3px;
}

.bold-text {
  font-weight: bold;
}

.style-button {
  font-size: 17px;
  border: none;
  border-radius: 10px;
  padding: 4px 10px;
  color: #fff;
  font-weight: bold;
  background-color: #fa6b2b;
  box-shadow: 2px 4px 4px #cdcdcd;
}

.style-button:hover {
  background-color: #0e2b6d;
  cursor: pointer;
}

.logout-button {
  right: 20px;
  position: absolute;
}

.choose-files-button {
  margin-left: 10px;
}

.complete-button {
  background-color: #106d2f;
  color: #fff;
  margin-left: 350px;
  font-size: 17px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 4px 10px;
  box-shadow: 2px 4px 4px #cdcdcd;
  margin-bottom: 10px;
}

.complete-button:hover {
  background-color: #0d4b21;
}
