.labeller-info {
  font-size: 20px;
  margin: 10px;
}

.object-data {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 3px;
}

.bold-text {
  font-weight: bold;
}

.style-button {
  font-size: 17px;
  border: none;
  border-radius: 10px;
  padding: 4px 10px;
  color: #fff;
  font-weight: bold;
  background-color: #fa6b2b;
  box-shadow: 2px 4px 4px #cdcdcd;
}

.style-button:hover {
  background-color: #0e2b6d;
}

.logout-button {
  right: 20px;
  position: absolute;
}

.choose-files-button {
  margin-left: 10px;
}

.file-controls {
  display: flex;
}
