.canvas-img {
  z-index: 0;
  position: absolute;
  margin: 30px;
  /* max-width: 1000px; */
}

.canvas-img:hover {
  cursor: crosshair;
}

.labelling-img {
  margin: 30px;
  max-width: 500px;
  max-height: 450px;
  border: 2px solid black;
  box-shadow: 4px 4px 4px 4px lightgrey;
}
@media (min-width: 600px) and (max-width: 1000px) {
  .labelling-img {  
    max-width: 500px;
    max-height: 350px;
  }
}
@media (max-width: 600px) {
  .labelling-img {
    max-width: 500px;
    max-height: 350px;
  }
}

.image-area {
  display: flex;
}
